.container{
    background-color: aqua;
    height: 500px;
    /* display: flex;
    justify-content: start;
    align-items: end; */


}
.box{
    background-color:  blue;
    height: 100px;
    width: 200px;
    font-size: 3em;
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
    
}